body{
    margin: 0;
    height: 0;
}

header{
    text-align: center;
    border-bottom: 1px solid;
}
.container{
    margin-top: 10em;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 400px 400px 500px;
    width: 100%;
    height: 100%;
    
}
.container div{
    width: 320px;
    height: auto;
    display: inline-block;
    background-color: yellowgreen;
    border-radius: 15px;
}